@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.BookingForm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.register {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

.register span {
  color: #adb5bd;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
  font-family: 'Poppins', cursive;
}

#form > input,
#form > textarea {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;
}

#form > input:focus {
  outline: none;
}
#form > textarea:focus {
  outline: none;
}

#form > .btn {
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
}

.register .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}

/* Apply these styles to the react-datepicker component */
.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 0.5em; /* Adjust the margin-top value to match the other inputs */
}

.react-datepicker__input-container input {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
  outline: none;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
}

/* Additional styling for the dropdown arrow */
.react-datepicker__triangle::before {
  border-bottom-color: #e9ecef;
}

.captcha-festejando {
  margin: 5px;
}

.BookingForm span {
  color: black;
}

.BookingForm textarea {
  resize: none;
}

#form > textarea {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
  outline: none;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .BookingForm {
    margin-top: 75px;
  }
}
