/* TopicCards component */
.TopicCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem; /* gap between columns */
  justify-content: center;
  margin: 0 2.5rem;
}

.center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product List */
.productList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

/* Product Detail */
.productDetail__button {
  display: inline-block;
  background-color: #007bff;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.productDetail__button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Product Card */
.productCard {
  position: relative;
  background-color: #f0f0f0;
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 100rem;
  transition: 0.2s;
}

.productCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage {
  margin-top: 0rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.productCard__button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.productCard__button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.productCard__content {
  margin: 2rem;
}

.productName {
  font-size: 1.5rem;
}

.displayStack__1,
.displayStack__2 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productDescription {
  font-size: 1.1rem;
}

/* QUIENES SOMOS STYLES */

.centered-container-text {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.side-image {
  height: auto;
  margin: 10px;
}

.image-container {
  float: left; /* La imagen se ubicará a la izquierda */
  margin-right: 10px; /* Agrega espacio a la derecha de la imagen para separarla de los textos */
}

.text-container {
  flex: 1; /* El contenedor de texto ocupará el espacio restante */
  display: flex;
  flex-direction: column; /* Los párrafos estarán uno debajo del otro */
  overflow: hidden;
  margin-right: 120px;
  margin-left: 20px;
}

.text-quienesSomos {
  font-size: 15px;
  display: block;
  margin-right: 20px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .TopicCards {
    grid-template-columns: 1fr;
  }

  .productList {
    flex-direction: column;
    align-items: center;
  }

  .centered-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .side-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .text-container {
    margin: 10px;
    max-width: 400px;
  }

  .text-quienesSomos {
    margin: 0; /* Eliminado el margen derecho para evitar que los párrafos se superpongan */
  }
}

@media only screen and (max-width: 1000px) {
  .centered-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
