@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

admin-header {
	--adminMainColor: #29335c;
	--adminMainColorLight: #5767aa;
	--adminSecondaryColor: #db2b39;
	--adminTextColor: #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--adminMainColor);
	color: var(--adminTextColor);
}

admin-nav a {
	margin: 0 1rem;
	color: var(--adminTextColor);
	text-decoration: none;
	cursor: pointer;
}

admin-nav a:hover {
	color: var(--adminSecondaryColor);
}

admin-header .admin-nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--adminTextColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

admin-header div,
admin-nav {
	display: flex;
	align-items: center;
}

admin-header img {
	display: flex;
	align-items: center;
	height: auto;
	width: 10%;
	cursor: pointer;
}

@media only screen and (max-width: 1024px) {
	admin-header .admin-nav-btn {
		visibility: visible;
		opacity: 1;
	}

	admin-header admin-nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--adminMainColor);
		transition: 1s;
	}

	admin-header .responsive_admin-nav {
		transform: translateY(100vh);
	}

	admin-nav .admin-nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	admin-nav a {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 768px) {
	admin-header img {
	  width: 100px; /* Adjust the width as needed */
	}
  }