.gallery-button {
    margin-top: 20px;
  }
  
  .gallery-image-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery-image-item {
    margin: 10px;
  }
  
  .gallery-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
  }
  
/* Add this style to your galleryModal.css or update the existing CSS file */
.gallery-image-item {
  position: relative;
  /* Add some padding around the images to make them easier to target */
  padding: 8px;
}

.delete-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(240, 28, 28);
  color: white;
  padding: 6%;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1; /* Make sure the cross button is above the image */
}

.gallery-image-item:hover .delete-button {
  display: block;
}
